body{
      font-family: 'Cabin', sans-serif;
      width: 80%;
      margin: auto;
}
:root{
  --color:white;
  --bg-color: #0963b3bd;
}
header{
  display: table;
  background: var(--bg-color);
  width: 100%;
  }
.dropbtn{
  display: none;
  position: absolute;
  background-color: #6187c6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }
.dropbtn a{
  float: none;
  color: var(--color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.btndrop:hover .dropbtn{
  display: block;
  color: red;
}
.btndrop .dropbtn a:hover{
  color: #d2cfcfcf;
}
.logo{
  float: left;
  margin-left: 70px;
  margin-top: 6px;
}
.logo li{
  float: left;
  color: var(--color);
  list-style: none;
  font-size: 30px;
}
.desktop{
  margin-right: 80px;
}
.desktop>ul{
  float: right;
}
.desktop>ul li{
  float: left;
  list-style: none;
  margin-right: 30px;
}
.desktop>ul li a{
  color: var(--color);
  font-size: 15px;
  font-weight: 900;
  text-decoration: none;
}
.login{
  text-decoration: none;
  color: var(--bg-color)!important;
  background: var(--color);
  padding: 7px 23px;
  border-radius: 2px;
}
main{
  background: var(--bg-color);
  padding: 70px 90px;
}
article{
  display: flex;
  flex-wrap: wrap;
}
.intro-work h2{
  color: var(--color);
  font-size: 40px;
  font-weight: 200;
}
.intro-work p{
  color: var(--color);
  padding-right: 10%;
  margin-bottom: 10%;
  line-height: 30px;
}
.intro-work a{
  border: 2px solid white;
  text-decoration: none;
  color: var(--color);
  padding: 10px;
}
.intro-work{
  width: 50%;
  padding: 15px;
  box-sizing: border-box;
}
.img{
  width: 50%;
}
.img img{
  width: 100%;
}
.mobile{
  display: none;
}
@media screen and (min-width: 640px) and (max-width: 1070px){
.desktop{
  display: none;
}
main{
  text-align: center;
}
.intro-work p{
  text-align: justify;
  color: var(--color);
  padding-right: 0%;
  margin-bottom: 10%;
  line-height: 35px;
}
.logo{
  float: left;
  margin-left: 37%;
}
.mobile{
  display: block;
  float: right;
  margin: 18px 0px 0px 110px;
  position: absolute;
}
header{
  position: relative;
}
.mobile ul{
  display: none;
  width: 100%;
  background: #6187c6;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.burger{
  color: var(--color);
  font-size: 30px;
}
.mobile:hover ul{
    display: block;
}
.mobile>ul li a:hover{
  color: #d2cfcfcf;
}
.mobile ul li{
  list-style: none;
  padding: 10px;
}
.mobile ul li a{
  text-decoration: none;
  color: var(--color);
}
.intro-work{
  width: 100%;
}
.img{
  width: 100%;
}
}
@media screen and (min-width: 0px) and (max-width: 640px){
.desktop{
  display: none;
}
.logo{
  float: left;
  margin-left: 23%;
}
.mobile{
  display: block;
  float: right;
  margin: 18px 0px 0px 35px;
  /*margin-left: 5px;
  margin-top: 15px;*/
  position: absolute;
}
header{
  position: relative;
}
.mobile ul{
  display: none;
  width: 100%;
  background: #6187c6;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.burger{
  color: var(--color);
  font-size: 30px;
}
.mobile:hover ul{
    display: block;
}
.mobile>ul li a:hover{
  color: #d2cfcfcf;
}
.mobile ul li{
  list-style: none;
  padding: 10px;
}
.mobile ul li a{
  text-decoration: none;
  color: var(--color);
}
.intro-work{
  width: 100%;
}
.intro-work a{
  padding: 5px 2px;
}
.img{
  width: 100%;
}
main{
  padding: 70px 20px;
  text-align: center;
}
.intro-work p{
  text-align: justify;
  color: var(--color);
  padding-right: 0%;
  margin-bottom: 10%;
  line-height: 35px;
}
}
